/belajar/nbproject/private/
/belajar/build/
/pisah/nbproject/private/
/pisah/build/
/belajar/dist/
belajar/src/view/mainmenu.form
belajar/src/view/mainmenu.java
/aset/dumping/aaa/testAudio/nbproject/private/
/aset/dumping/MP3 Player Widget/build/
/aset/dumping/MP3 Player Widget/dist/
/aset/dumping/MP3 Player Widget/nbproject/private/
/TimerDo/build/
/TimerDo/nbproject/private/
/programtoko2/nbproject/private/
/programtoko2/build/
/programtoko2/dist/
/program resto/nbproject/private/
/program resto/build/
/program resto/dist/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/